@charset "utf-8";

.container {
  padding: 2em;
}

.container-fluid {
  padding: 2em;
}

label>input {
  display: none;
}

.square {
  height: 30em;
  border: 1px solid black;
  background: #D0D0D0;
}

.square>img {
  margin: auto;
  display: block;
}