@charset "utf-8";

body {
  font-size: 1.5em;
  padding: 0px, 100px;
}

.container {
  margin-top: 2em;
}

.container-fluid {
  margin-top: 2em;
}

label>input {
  display: none;
}

.square {
  height: 6em;
  background: #86cecb;
  cursor: pointer;
  position: relative;
}

.square>img {
  margin: auto;
  display: block;
}

.on-square {
  position: absolute;
  top: 20px;
  right: 20px;
}

td {
  text-align: right;
}

#ex-score {
  font-size: 2em
}